
{% extends "TutoCoreBundle::base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}


    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">Message flash : {{ message }}</div>
    {% endfor %}


    {{ render(controller("TutoPlatformBundle:Advert:menu")) }}


{% endblock %}
